absl==0.0
ai_edge_litert==1.4.0
imbalanced_learn==0.13.0
ipython==8.12.3
librosa==0.11.0
matplotlib==3.10.3
noisereduce==3.0.3
numba==0.61.2
numpy==2.3.2
pandas==2.3.1
pydub==0.25.1
scikit_learn==1.7.1
scipy==1.16.1
soundfile==0.13.1
tensorflow==2.19.0
tensorflow_hub==0.16.1
termcolor==3.1.0
tqdm==4.67.1
